body {
    margin:0;
    overflow:hidden;
}


#cabeza{
    
    height: 7.2em;
    width: 1161px;
    margin-right:auto;
    margin-left:auto;
    margin-top:1em;
}

#sena{
    float:left;
    width:auto;
    height:auto;
    height: auto;
    background-color:#ffffff;
   
}


#c1 {

    background-color:#b6ff00;
    display: table-cell;
    border: 1px solid #000;
    padding: 7px;
  
}


.ima{
   margin-left:1em;
   margin-right:0.4em;
    width: 974px;
    height: 110px;
}

#login{
    background-color:#ffffff;
    border-radius:1em;
    text-align:center;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
    width:35em;
    height:12.4em;
   
}
#Button1 {
    Width: 198px;
    margin-left:auto;
    margin-right:auto;
    border-radius:2em;
}

#pie {
   
    position: absolute;
	bottom: 0px;
	width: 100%;
	background-color:#F27323;
	overflow: hidden;


    
}       
#parrafo{ 
    border:double;
    float:left;
    width:37em;
    height: 158px;
   
    padding-top:1em;
    padding-bottom:2em;
    padding-left:1em;
    padding-right:1em;
}
#imagen{

    border:double;
    float:left;
    width:37em;
    height: 158px;
    
    padding-top:1em;
    padding-bottom:2em;
    padding-left:1em;
    padding-right:1em;
}

.a{
  font-family:Constantia;
  color:#ffffff;
  font-size:13px;
  text-align:left;
}
